body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F8F9F8;
    color: #333;
    text-align: center;
}

/* 導覽列 */
nav {
    background-color: #44876E;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu li {
    position: relative;
}

.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background-color: #E3B23C;
    color: #333;
}

/* 下拉選單 */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #44876E;
    list-style: none;
    padding: 0;
    min-width: 120px;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu a {
    padding: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.item {
    overflow: hidden;
    background-color: #eee;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square {
        aspect-ratio: 1 / 1;
}

.portrait {
        aspect-ratio: 3 / 4;
}

.landscape {
        aspect-ratio: 4 / 3;
}

.image img{
    width: 60%;
    height: 60%;
}

.image video{
    width: 60%;
    height: 60%;
}

.site-footer {
    background-color: #44876E;   
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    margin-top: 60px;
    font-size: 14px;
}

.text-block {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.text-block p {
    line-height: 1;
    font-size: 16px;
    color:#333;
    margin-bottom: 1.2em;
}

.text-block a {
    text-align: center;
    font-size: 25px;
    color: #44876E;
    text-decoration: none;
}

.text-block ul {
    text-align: left;
    max-width: 400px;
    font-size: 20px;
    margin: 20px auto;
    line-height: 1.5;
}
